
{% extends 'base.html' %}
{% load static %}


    {% block title %}
    <title> DiagnoG - Med eCommerce </title>
    {% endblock %}
    

    {% block meta %}
    <meta name="description" content="DiagnoG is India's leading medical ecommerce platform where you can get all the medical products at very reseanable price.">
    <meta name="keywords" content="diagnog, diagnog medical, buy paracetamol, dolo price, buy medicine online">
    {% endblock %}


    
    {% block favicon %}
    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" href="{% static 'favicons/1.svg' %}" type="image/x-icon" />
    {% endblock %}

    {% block content %}

    <!--Reset Password-->
	<div class="form-content my-5 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                            <div id="error_div"></div>
                          <h3 class="font-weight-light my-4 text-center">Forgot Password?</h3>
                        </div>
                        {% include 'widget/message.html' %}
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                      <label class="small mb-1" for="id_email">Email</label>
                                        <input type="email" name="email"  class="form-control"
                                               autocomplete="email" maxlength="254" required id="id_email"
                                               placeholder="Enter email">
                                    </div>
                                </div>
                            </div>
                                <div class="form-row">
                                  <div class="col-md-10 offset-md-1">
                                    <div class="btn-wrapper mt-0">
                                        <button class="theme-btn-1 btn btn-block col-md-12" type="submit">SUBMIT</button>
                                    </div>
                                 </div>
                               </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="my-3">
                                <a href="{% url 'register' %}">Create A New Account</a><br><br>
                                <a href="{% url 'login' %}">Back To Login</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
  
    {% endblock %}