{% load static %}

<!-- Trending PRODUCT AREA START (product-item-3) -->
<div class="ltn__product-area ltn__product-gutter  no-product-ratting pt-115 pb-70---">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2 text-center">
                    <h1 class="section-title">Trending Products</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__tab-product-slider-one-active slick-arrow-1">

            {% for product in products %}
            {% if product.trendingPost %}
            {% for post in product.trendingPost.all %}


            <!-- ltn__product-item -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="ltn__product-item ltn__product-item-3 text-center">
                    <div class="product-img">
                        <a href="{% url 'product_details' slug=product.slug %}"><img src="{{ post.product.imgURL }}" alt="{{ post.product }}" width="300" height="300"></a>
                        <div class="product-badge">

                            {% if post.product.isNew %}
                            <ul>
                                <li class="sale-badge">New</li>
                            </ul>
                            {% endif %}


                        </div>
                        <div class="product-hover-action">
                            <ul>
                                <li>
                                    <a href="#" title="Quick View" data-id="{{product.id}}" class="view-product" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="far fa-eye"></i>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#" title="Add to Cart" data-id="{{product.id}}" class="add-item" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                    <i class="fas fa-shopping-cart"></i>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#" title="Wishlist" data-id="{{product.id}}" class="add-product" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                    <i class="far fa-heart"></i></a>
                                 </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-ratting">
                            <ul>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                <li><a href="#"><i class="far fa-star"></i></a></li>
                            </ul>
                        </div>
                        <h2 class="product-title"><a href="{% url 'product_details' slug=product.slug %}">{{post.product}}</a></h2>
                        <div class="product-price">
                            <span>{{ post.product.discount_price }}</span>
                            <del>{{ post.product.price }}</del>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}
            
            <!--  -->
        </div>
    </div>
</div>
<!-- PRODUCT AREA END -->  