{% load static %}

<div class="ltn__call-to-action-area section-bg-1 bg-image pt-120 pb-120" data-bs-bg="{% static 'img/bg/25.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="call-to-action-inner text-color-white--- text-center---">
                    <div class="section-title-area ltn__section-title-2--- text-center---">
                        <h6 class="ltn__secondary-color">Todays Hot Offer</h6>
                        <h1 class="section-title">Free Covid-19 Vaccine<br>Campaign Ticket</h1>
                        <p>Cur tantas regiones barbarorum obiit, tot maria transmist <br>
                            summo bono fruitur id est voluptate barbarorum </p>
                    </div>
                    <div class="ltn__countdown ltn__countdown-3 bg-white--" data-countdown="2021/12/28"></div>
                    <div class="btn-wrapper animated">
                        <a href="contact.html" class="theme-btn-1 btn btn-effect-1 text-uppercase">Book Now</a>
                        <a href="shop.html" class="ltn__secondary-color text-decoration-underline">Deal of The Day</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <!-- <img src="img/banner/15.png" alt="#"> -->
            </div>
        </div>
    </div>
</div>