{% load static %}

<!-- To show the categories with the icons -->

<div class="ltn__category-area section-bg-1-- pt-50 pb-90">
    <div class="container">
        <div class="row ltn__category-slider-active-six slick-arrow-1 border-bottom">
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-6 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="fas fa-notes-medical"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h6><a href="shop.html">Best Deals</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-6 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="fas fa-box-tissue"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h6><a href="shop.html">Germs Pads</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-6 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="fas fa-pump-medical"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h6><a href="shop.html">Accessories</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-6 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="fas fa-bong"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h6><a href="shop.html">Medicine Cap</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-6 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="fas fa-tooth"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h6><a href="shop.html">Dental Item</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-6 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="fas fa-microscope"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h6><a href="shop.html">Best Deals</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-6 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="fas fa-syringe"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h6><a href="shop.html">All Products</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-6 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="fas fa-stethoscope"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h6><a href="shop.html">Germs Pads</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-6 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="fas fa-hand-holding-medical"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h6><a href="shop.html">Accessories</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-6 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="fas fa-procedures"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h6><a href="shop.html">Medicine Cap</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>